html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

strong{
    color: #000;
}

a{
    color: #004F9F;
    text-decoration: none;
}
a:hover{
    color: #1879DB;
}

button{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;

    background-color: rgb(92, 91, 91);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
    transition-duration: 0.2s;
}

.title, .explanation{
    text-align: center;
    
}

.title{
    font-size: 3rem;
    color: #B3A369;
    padding-top: 0;
    margin-top: 0;
}

.explanation{
    font-size: 3rem;
    color: #003057;
    margin: 5%;
}

#graphbox{
    position: absolute;
    width: 100%;
    z-index: -1;
    margin: -7vh auto;
    padding: 0;
}

#graph{
    width: 100%;
    margin: 0 auto;
    height: 70rem;
}

body{
    padding-top: 0rem;
}

@media only screen and (min-width: 1000px) {
    #graphbox{
        margin: -15vh auto;
    }
  }