html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

strong{
    color: #000;
}

a{
    color: #004F9F;
    text-decoration: none;
}

a:hover{
    color: #1879DB;
}


button{
    width:50%;
    margin-left: 25%;
    margin-right: 25%;

    background-color: rgb(92, 91, 91);
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    transition-duration: 0.2s;
}

.title, .explanation{
    text-align: center;
}

.title{
    font-size: 3rem;
    color: #B3A369;
    padding-top: 0;
    margin-top: 0;
}

.explanation{
    font-size: 3rem;
    color: #003057;
    margin: 5%;
}

#graphbox{
    width: 100%;
    padding-top: 0;
    margin-bottom: 0;
}

.graph{
    width: 100%;
    margin: 0 auto;
    height: 30rem;
    display: fixed;
    z-index: -1;
    padding-top: 0;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    padding-bottom: 10%;
}

footer {
    flex-shrink: 0;
    color: #004F9F;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

footer hr{
    width: 90%;
    height: .5em;
    color:#555;
    background-color:#111;
    border-radius: 10px;
}

@media only screen and (min-width: 1000px) {
    #graphbox{
        margin: -15vh auto;
    }
  }